/* ================= SUBHEADER BAR ================= */
.subheader-bar {
  background-color: #ffffff;
  padding: 10px 28px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subheader-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ehr-tag {
  font-size: 11px;
  font-weight: 700;
  color: var(--text-muted);
}

.status-pill-green {
  background-color: #d1fae5;
  color: #047857;
  font-size: 10px;
  font-weight: 800;
  padding: 2px 6px;
  border-radius: 4px;
}

.sub-title {
  font-size: 14px;
  font-weight: 800;
  color: var(--text-primary);
}

.subheader-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.session-timer {
  font-size: 11px;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  gap: 6px;
}

.session-timer span {
  font-weight: 700;
  color: var(--text-primary);
}

.tag-hipaa {
  color: #0284c7;
  font-size: 10px;
  font-weight: 800;
}

.btn-write-rx {
  background-color: #059669;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: var(--radius-sm);
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn-write-rx:hover {
  background-color: #047857;
}

/* ================= MODULE TABS ================= */
.module-tabs {
  background-color: #ffffff;
  padding: 0 28px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  gap: 8px;
}

.module-tabs a {
    text-decoration: none;
}

.tab-btn {
  background: transparent;
  border: none;
  padding: 12px 16px;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-secondary);
  cursor: pointer;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tab-btn.active {
  color: #059669;
  border-bottom-color: #059669;
  font-weight: 700;
  background-color: #f0fdf4;
}

